.card1{
    background-color: #B9FF66;
    
}
.card2{
    color:#B9FF66 ;
}
.part-17{
    right: -70px;
}
.pic{
    right: -190px;
   
}
.menu-footer{
    top: -40px;
}
.foot1{
   position: absolute;
 top: 40px;
 left: 50px;
}